* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    /* z-index: 1; */           /* not necessray, ig*/
}

.logo {
    position: absolute;
    left: 20px;
    height: 40px;
}

.nav-text {
    text-align: center;
    font-size: 25px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
    color: #CCCCCC;
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For older IE */
}

.background-gradient {
    background: linear-gradient(to top, #6A6A6A, #D0D0D0);
    height: calc(100vh - 60px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.registration-box {
    margin-top: 50px;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    background-color: #333333;
}